@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?83rirz');
  src:  url('fonts/icomoon.eot?83rirz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?83rirz') format('truetype'),
    url('fonts/icomoon.woff?83rirz') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-amazon:before {
  content: "\e900";
  color: #f90;
}
.icon-amazonaws:before {
  content: "\e901";
}
.icon-bootstrap:before {
  content: "\e902";
  color: #563d7c;
}
.icon-css3:before {
  content: "\e903";
  color: #1572b6;
}
.icon-digitalocean:before {
  content: "\e904";
  color: #0080ff;
}
.icon-django:before {
  content: "\e905";
}
.icon-dribbble:before {
  content: "\e910";
  color: #ea4c89;
}
.icon-facebook:before {
  content: "\e911";
  color: #1877f2;
}
.icon-google:before {
  content: "\e906";
  color: #4285f4;
}
.icon-googlesearchconsole:before {
  content: "\e907";
  color: #458cf5;
}
.icon-html5:before {
  content: "\e908";
  color: #e34f26;
}
.icon-instagram:before {
  content: "\e912";
  color: #e4405f;
}
.icon-javascript:before {
  content: "\e909";
  color: #f7df1e;
}
.icon-linkedin:before {
  content: "\e916";
  color: #0077b5;
}
.icon-mastercard:before {
  content: "\e917";
  color: #eb001b;
}
.icon-pinterest:before {
  content: "\e913";
  color: #bd081c;
}
.icon-postgresql:before {
  content: "\e90a";
  color: #336791;
}
.icon-probot:before {
  content: "\e90b";
  color: #00b0d8;
}
.icon-python:before {
  content: "\e914";
  color: #3776ab;
}
.icon-react:before {
  content: "\e90c";
  color: #61dafb;
}
.icon-readthedocs:before {
  content: "\e90d";
  color: #8ca1af;
}
.icon-sass:before {
  content: "\e90e";
  color: #c69;
}
.icon-ubuntu:before {
  content: "\e90f";
  color: #e95420;
}
.icon-upwork:before {
  content: "\e918";
  color: #6fda44;
}
.icon-visa:before {
  content: "\e919";
  color: #142787;
}
.icon-telegram:before {
  content: "\e91a";
  color: #2ca5e0;
}
.icon-whatsapp:before {
  content: "\e915";
  color: #25d366;
}
.icon-library:before {
  content: "\e921";
}
.icon-envelop:before {
  content: "\e945";
  color: #f90;
}
.icon-mail4:before {
  content: "\ea86";
  color: #f90;
}
.icon-facebook-w:before {
  content: "\e911";
}
.icon-instagram-w:before {
  content: "\e912";
}
.icon-pinterest-w:before {
  content: "\e913";
}
.icon-dribbble-w:before {
  content: "\e910";
}
